@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ededed;
  --foreground: #171717;

  --ps-dark: #333333;
  --ps-grey: #888888;

  --ps-blue: 'hsl(193 96 45)';
  --ps-teal: 'hsl(174 100 39)';
  --ps-green: 'hsl(114 49 66)';
  --ps-yellow: 'hsl(62 56 63)';
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
}

/* * {
  border: 1px solid green;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  min-height: 100svh;
  min-width: 100svw;
}

#__next {
  min-height: 100svh;
  min-width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#__next > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100svh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

hr {
  border: 0.5px solid var(--ps-dark);
  margin: 2rem 0rem;
  box-sizing: border-box;
  height: 0px;
}

.top-container {
  min-height: calc(100svh - 230px);
  /* border: 1px solid red; */
}

.temp-nav-logo-container {
  width: clamp(200px, 50%, 1200px);
  padding-top: clamp(16px, 3svw, 40px);
  /* height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.temp-nav-logo-container svg {
  width: 100%;
  height: auto;
}

.wave-bg-container {
  background: url('/logos/pacser-mainWave.svg') 0 100%, url('/logos/pacser-mainWave.svg') 1px 100%;
  /* background: url('/logos/laCountyArtsCommission.jpg') 0 100%, url('/logos/laCountyArtsCommission.jpg') 1px 100%; */
  background-repeat: repeat-x;
  width: 100%;
  height: clamp(100px, 20svw, 200px);
  position: absolute;
  top: 0px;
  z-index: 0;
  /* border: 1px solid red; */
}

.max-width {
  max-width: 1200px;
}

.message-box-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 32px;
}

section {
  @apply justify-center items-center xl:max-w-[1200px] mx-auto px-6 w-full;
}

p {
  @apply text-body1;
  padding: 0.7ch 0ch;
}

.nav-bar-container {
  position: relative;
  height: clamp(50px, 10svw, 100px);
  /* margin-top: clamp(25px, 5svw, 50px); */
  margin-bottom: clamp(50px, 10svw, 100px);
  /* margin-bottom: clamp(25px, 5svw, 50px); */
  width: 100%;
  /* border: 1px solid red; */
}

footer {
  @apply text-blue-400;
  @apply bg-blue-950;
  /* background-color: var(--ps-dark); */
  font-size: 0.8rem;
  font-weight: 600;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  letter-spacing: 1px;
  text-transform: uppercase;
}

.welcome-paragraph-text {
  font-weight: 500;
  text-align: justify;
  padding-bottom: 2rem;
}

.welcome-paragraph-signature {
  font-weight: 700;
  text-align: right;
}

.composer-top-container {
  width: 65ch;
}

.composer-name {
  @apply capitalize;
}

.prose {
  @apply max-w-prose;
  text-align: justify;
}

.prose > p {
  margin: 0.5rem 0rem;
}

@media only screen and (max-width: 768px) {
  .temp-nav-logo-container {
    width: 100%;
    padding: 8px 64px;
  }
  .message-box-container {
    display: flex;
    flex-direction: column;
  }
  .section-landing {
    padding: 16px;
  }
}

h1 {
  @apply text-h1;
}
h2 {
  @apply text-h2;
}
h3 {
  @apply text-h3;
}
h4 {
  @apply text-h4;
}
h5 {
  @apply text-h5;
}
h6 {
  @apply text-h6;
}
subtitle1 {
  @apply text-subtitle1;
}
subtitle2 {
  @apply text-subtitle2;
}
body1 {
  @apply text-body1;
}
body2 {
  @apply text-body2;
}
button {
  @apply text-button;
}
caption {
  @apply text-caption;
}
overline {
  @apply text-overline;
}
